@using TodoList.Data.Models.Auth;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager


<ul class="navbar-nav flex-grow-1">
    @if(SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="TodoList" asp-action="Index">
                Meine Listen
            </a>
        </li>
    }
</ul>

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">
                Logout
            </a>
        </li>
    } else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">
                Registrieren
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">
                Login
            </a>
        </li>
    }
</ul>